*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin-top: 7rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 200;
    color: #535353;

}
h1 span{
    color: yellowgreen;
    font-weight: bold;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    margin: 7rem auto;
    color: #535353;
}


/* STOP WATCH LEFT SIDE START*/

.main-div .stop-watch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 2rem;
    border: 1rem solid yellowgreen;
    border-radius: 1rem;
    margin-right: 8rem;
    box-shadow: 2px 3px 5px;
}

.main-div .stop-watch .stop-watch-text{
    font-size: 7rem;
}

.main-div .stop-watch .button-div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.main-div .stop-watch .button-div .button-item{
    margin: 0 1.6rem;
}

.main-div .stop-watch .button-div .optinal{
    display: inline-block;
    width: 7rem;
    height: 7rem;
    background-color: #535353;
    border-radius: 50%;
}
.main-div .stop-watch .button-div .optinal img{
    width: 7rem;
}

.main-div .stop-watch .button-div .button-item .fas{
    color: #535353;
}

.main-div .stop-watch .button-div .button-item:hover{
    opacity: .9;
}

/* STOP WATCH LEFT SIDE END*/



/* STOP WATCH LİST RİGHT SIDE START */

.stop-watch-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.stop-watch-list .list-item-main{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.stop-watch-list .list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 4px solid #B0B0B0;
    border-radius: 1rem;
    height: 6rem;
    margin-bottom: 2rem;

}

.stop-watch-list .list-item .flag-box{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.stop-watch-list .list-item .flag-box .flag-text{
    font-size: 2rem;
    margin-left: 1rem;
}


.stop-watch-list .list-item .now-time-box .now-time-text{
    font-size: 2rem;
}

.stop-watch-list .list-item .total-time-box{
    margin-right: 3rem;
}

.stop-watch-list .list-item .total-time-box .total-time-text{
    font-size: 2rem;
    font-weight: bold;
}

/* STOP WATCH LİST RİGHT SIDE END */


/* MEDIA QUERY */

@media only screen and (max-width : 780px){
    html{
        font-size: 7px;
    }
    .main-div{
        flex-direction: column;
        width: 90%;
        margin-top: 5rem;
    }
    .main-div .stop-watch{
        margin-right: 0;
        margin-bottom: 3rem;
        width: 100%;
        
    }
    .stop-watch-list{
        width: 100%;
    }
    
    
}


















